.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.w-full {
  width: 100%;
}

.form-inline {
  display: block !important;
}

.col-xs-12 {
  width: 100%;
}

.table-hover tbody tr {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  &#{&}-transparent {
    background-color: transparent;
    border: none;
    outline:none;
    padding: 0;
  }
}

.list-group-item-default {
  background-color: #eee;
}

.scrollbar-content {
  overflow-y: auto;
  max-height: 400px;
}