.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.w-full {
  width: 100%;
}

.form-inline {
  display: block !important;
}

.col-xs-12 {
  width: 100%;
}

.table-hover tbody tr {
  cursor: pointer;
}